<div class="container mt-3">
  <h1>Contador: {{ contador }}</h1>
  <button class="btn btn-primary me-2" (click)="incrementar()">Incrementar</button>
  <button class="btn btn-danger" (click)="decrementar()">Decrementar</button>
</div>
